{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}@station_119{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>

<body>
    <div id="header">
        <a href="/" class="logo">@station_119</a>
    </div>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    Ваш заказ:
                    <a href="{% url "cart:cart_detail" %}">
                        {{ total_items }} ед. на сумму
                        {{ cart.get_total_price }}руб.
                    </a>
                {% else %}
                    Ваша корзина пуста.
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>
